OBS_HOST="127.0.0.1" #OBS websocket address
OBS_PORT="4444" #OBS websocket port
OBS_PASS="" #OBS websocket server password
#OBS_STREAM_SERVER="" #default stream server
#OBS_STREAM_KEY="" #default stream key
