[
  [
    {"type":"sceneKey","params":["deck","obs","Caster_Only","Caster-Only.png"]},
    {"type":"sceneKey","params":["deck","obs","Screen_Caster","Screen-Caster.png"]},
    null,
    null,
    null,

    {"type":"sceneKey","params":["deck","obs","Caster_Screen","Caster-Screen.png"]},
    {"type":"sceneKey","params":["deck","obs","Screen_Only","Screen-Only.png"]},
    null,
    null,
    null,

    {"type":"recordKey","params":["deck","obs"]},
    {"type":"streamKey","params":["deck","obs"]},
    null,
    null,
    {"type":"pageDownKey","params":["deck"]}
  ],
  [
    null,
    null,
    null,
    null,
    {"type":"pageUpKey","params":["deck"]},

    {"type":"communityKey","params":["deck","obs","rtmp://x.rtmp.youtube.com/live2","exam-plek-ey12-3456","twd.png"]},
    null,
    null,
    null,
    null,

    null,
    null,
    null,
    null,
    null
  ]
]

